<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CONNECTIONS" value="Data Source=NAUT;User ID=lims;Password=lims" />
		<add key="Source" value="C:\work\PatholabProj\SaveScannedDocuments\AAA" />
		<add key="Destination" value="C:\work\PatholabProj\SaveScannedDocuments\BBB" />
		<add key="LOGFILE" value="C:\work\PatholabProj\SaveScannedDocuments\" />
	</appSettings>
</configuration>